@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-slate-900: #1f314f;
    --color-slate-500:#68778d;
    --color-slate-300: #d5e1ef;
    --color-white: #fff;

    --font-outfit: 'Outfit' , sans-serif;

}

@utility text1 {
    @apply font-bold text-[22px] leading-[120%] font-outfit text-slate-900;
}
@utility text2 {
    @apply text-[15px] leading-[140%]  font-outfit tracking-[0.2px] text-slate-500;
}

@utility box {
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
}