@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-overpass: 'Overpass', sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-500: #969fad;
    --color-grey-900: #262e38;
    --color-grey-950: #131518;
    --color-orange-500: #fc7614;
    
    --background-image-g1: linear-Gradient(to bottom,#232a34,#181e27);
}

@utility t1 {
    @apply font-overpass font-bold text-[28px] leading-[35px]
}
@utility t2 {
    @apply font-overpass font-bold text-2xl leading-[30px]
}
@utility t3 {
    @apply font-overpass font-bold text-[16px] leading-6 tracking-[0.2px]
}
@utility t4b {
    @apply font-overpass font-bold text-[15px] leading-[19px] tracking-[2px]
}
@utility t4r {
    @apply font-overpass text-[15px] leading-6
}
@utility t5b {
    @apply font-overpass font-bold text-[14px] leading-[18px] tracking-[1.87px]
}
@utility t5s {
    @apply font-overpass font-semibold text-[14px] leading-6 tracking-[0.17px]
}
@utility t5r {
    @apply font-overpass text-[14px] leading-[22px]
}

@utility num {
    @apply w-[42px] h-[42px] bg-grey-900 rounded-full flex justify-center items-center
    hover:cursor-pointer hover:bg-orange-500 hover:text-grey-900 md:w-[51px] md:h-[51px]
}

.click[data-active='true'] {
    background-color: var(--color-white);
    color: var(--color-grey-900);
}

